<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm mb-4">
  <div class="container">
    <a class="navbar-brand fw-semibold fs-4" href="#">MLP - PARFUMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav gap-5">
        <li class="nav-item">
          <a class="nav-link text-uppercase fw-medium" (click)="FecharMenu()" routerLink="/lista-destaque">DESTAQUES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fw-medium" (click)="FecharMenu()" routerLink="/lista-masculina">MASCULINO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fw-medium" (click)="FecharMenu()" routerLink="/feminina">FEMININO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase fw-medium" (click)="FecharMenu()" routerLink="/lista-unissex">UNISSEX</a>
        </li>
        <!-- Se quiser adicionar mais itens depois -->
        <!-- <li class="nav-item"><a class="nav-link text-uppercase fw-medium" href="#">Unissex</a></li> -->
      </ul>
    </div>
  </div>
</nav>
<div class="mt-4"></div>

